﻿h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
    text-align:center;
    margin:0;
    margin-bottom:7px;
}

.requirement-container{
    background-color: #7cbb00;
    padding:10px;
    border-radius: 5px;
    width:400px;
    height:600px;
    float:left;
    overflow-y:scroll;
}

.container {
    border: 1px solid red;
    width: 336px;
    height: 69px;
}

.requirement-block{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #ffbb00;
    padding: 15px;
    border-radius: 5px;
    cursor:pointer;
    width:365px;
}

.answers-container{
    width:400px;
    height:600px;
    float:right;
}

.answer-container {
    border-radius: 5px;
    height: 290px;
    overflow-y: scroll;
    padding: 10px;
}

#functional-container{
    margin-bottom:20px;
    background-color:#00A1F1;
}

#non-functional-container{
    background-color:#F65314;
}

.score-block {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: -400px;
    text-align:center;
}

.score-block > p{
    margin-top:10px;
    font-size:25px;
}

.upload-block {
    float: right;
}

#selectFile {
    margin-bottom: 10px;
    float:left;
    position:relative;
    left:-65px;
}

#upload-button {
    margin-bottom: 10px;
    float: right;
    position: relative;
    top:-5px;
}