﻿<div class="upload-block">
    <input type="file" id="selectFile" name="selectFile" value="Upload" />
    <button id="upload-button" (click)="uploadFile()" class="btn btn-success">Upload</button>
</div>

<div class="clearfix"></div>
<div class="requirement-container">
    <h3>Вимоги</h3>
    <div *ngFor="let requirement of requirements">
        <p id="{{requirement.Id}}" draggable="true" (dragstart)="drag($event)" class="requirement-block">{{requirement.Body}}</p>
    </div>
</div>
<div class="answers-container">
    <div (drop)="drop($event)" (dragover)="allowDrop($event)" id="functional-container" class="answer-container">
        <h3>Функціональні вимоги</h3>
    </div>
    <div (drop)="drop($event)" (dragover)="allowDrop($event)" id="non-functional-container" class="answer-container">
        <h3>Нефункціональні вимоги</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="score-block">
    <button id="get-result-button" (click)="calculateResults()" class="btn btn-success">Отримати результат</button>
    <p *ngIf="score >= 0">Відсоток співпадіння: <span [style.color]="handleScoreStyle()">{{score}}%</span></p>
</div>